@media screen and (max-width:1200px){
    
}
@media screen and (max-width:1199px){
    .hero-right{
        margin-left: 120px;
        p{
            font-size: 30px;
        }
    }
    .how-to-play{
        p{
            font-size: 18px;
        }
    }
}
@media screen and (max-width:992px){
    body{
        // background-color: red;
    }
    #main-section{
        background-position-x: -180px;
    }
    .dropdown{
        padding: 2px 3px !important;
    }
    .hero-left{
        margin-left: 64px;
        margin-top: -50px;
        img{
            width: 347px;
        }
    }
    .hero-right{
        p{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:768px) and (max-height:1024px){
    body{
        background-image: url(../img/tab-bg.svg);
        background-size: 285%;
        background-position: -1020px -995px;
    }
    #navBar{
        justify-content: flex-start;
        .dropdown{
            background-color: white;
            padding: 2px 10px !important;
        }
        .nav-link{
            color: $primary-color-1 !important;
        }
    }
    #hero-page{
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .sub-hero-page{
        width: 100%;
    }
    .hero-left{
        margin-left: 0px;
        margin-top: 0px;
        position: absolute;
        top: 110px;
        left: -6px;
        img{
            width: 455px;
        }
    }
    .hero-right{
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-top: 670px;
        p{
            font-size: 29px;
        }
    }
    .start-btn{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        p{
            font-size: 26px;
        }
    }
    #main-section{
        width: 100%;
        height: 100vh;
        box-shadow: none;
        background-image: none;
        background-color: transparent;
        position: relative;
    }
    .sub-main-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .how-to-play{
        p{
            font-size: 18px;
            margin-left: 0px;
        }
    }
    .lp-copyright{
        color: $primary-color-1;
        margin-left: 0px !important;
    }
}
@media screen and (max-width:576px) and (max-height:820px){
    body{
        background-image: url(../img/mobile-bg.svg);
        background-size: 270%;
        background-position: -368px -353px;
    }
    .hero-left{
        top: 96px;
        left: 13px;
        img{
            width: 345px;
        }
    }
    .hero-right{
        margin-top: 440px;
        p{
            font-size: 23px;
        }
    }
    .start-btn{
        p{
            font-size: 20px;
        }
    }
    .how-to-play{
        p{
            font-size: 15px;
        }
    }
    footer{
        bottom: 0px;
        .social-links{
            margin-right: 15px;
        }
    }
}
@media screen and (max-width:375px){
    body{
        background-position: -330px -353px;
    }
    #main-section{
        justify-content: center;
    }
    .hero-left{
        top: 40px;
        left: 32px;
        img{
            width: 281px;
        }
    }
    .hero-right {
        margin-top: 345px;
        p{
            font-size: 20px;
        }
    }
    .how-to-play{
        p{
            font-size: 15px;
        }
    }
    footer{
        
        .social-links{
            margin-right: -4px;
        }
    }
}
@media screen and (max-width:360px){
    body {
        background-size: 280%;
        background-position: -345px -350px;
    }
    .hero-left {
        top: 40px;
        left: 8px;
    }
}
// @media screen and (max-width:767px){
//     #hero-page{
//         display: none;
//     }
//     body{
//         background-image: none !important;
//         width: 100%;
//         height: 100vh;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         .warning-side{
//             color: $primary-color-1;
//             padding: 10px;
//             display: block !important;
//             background-color: white;
//             border-radius: 10px;
//             box-shadow: 2px 2px 5px #33333350;
//         }
//     }
// }